// PROCESS
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.


// RESETS & FRAMEWORKS
@import "partials/reset";

// VARIABLES & MIXINS

$primary-color: #282828;
$secondary-color: #E8E8E8;
$tertiary-color: #FFFF33;


// MEDIA QUERY RANGES
$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)";

// GENERAL STYLES
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $primary-color;
  color: $tertiary-color;
  font-family: "Arial Black";
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin: 10px;
  box-shadow: inset 0 0 10px $secondary-color;
}

h3 {
  color: $secondary-color;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.item {
  &.swatch {
    flex: 0 1 20%;
    margin: 10px
  }

  &.canvas {
    flex: 0 1 50%;
  }

  &.archive {
    flex: 0 1 30%;
  }
}

.grid {
  display: inline-block;
}

.row {
  // inline-block;
  // padding: 1em;
}

.swatchCell {
  // border: 1px solid black;
  display: inline-block;
  height: 25px;
  width: 25px;

  &:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 0 10px white;
  }
}

.canvasCell {
  border: 1px solid $secondary-color;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.archiveHolder {
  display: flex;
  flex-direction: column;
}

.archiveItem {
  margin: 20px;
  // border: 1px solid $secondary-color;

  &:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 0 10px $secondary-color;
  }
}

.archiveCell {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
}

.middleItem {

}

#selected,
input:hover {
  border: 1px solid $tertiary-color;
}

.row {
  font-size: 0;
}