#buttons
  input(type="button", name="eraseAll", value="Erase All")
  input(type="button", name="eraseOne", value="Erase One")
  input(type="button", name="save", value="Save New")
  input(type="button", name="update", value="Update Current")
  input(type="button", name="delete", value="Delete")
