#buttons
  input(type="button", name="eraseAll", value="Erase All")
  input(type="button", name="eraseOne", value="Erase One")
  //- form(method="POST", action="/save")
  //-   input(type="submit", name="save", value="Save")
  input(type="button", name="save", value="Save")
  input(type="button", name="load", value="Load")