#buttons
  input(type="button", name="eraseAll", value="Erase All")
  input(type="button", name="eraseOne", value="Erase One")
  input(type="button", name="save", value="Save")
  input(type="button", name="delete", value="Delete")
