#buttons
  input(type="submit", name="eraseAll", value="Erase All")
  input(type="button", name="eraseOne", value="Erase One")
  form(method="POST", action="/save")
    input(type="submit", name="save", value="Save")