div(id="canvas" class="grid")
  - var count = 0;
  - for (var row = 0; row < x; row++)
    div(class="row")
      - for (var col = 0; col < y; col++)
          div(class="canvasCell" id="canvas_#{row}#{col}" style={background: "#{painting[count]}"})
          - count++;