div(id="swatch" class='grid')
  - var count = 0
  - for (var row = 0; row < 8; row++)
    div(class='row')
      - for (var col = 0; col < 5; col++)
        div(class='swatchCell' id="swatch_#{row}#{col}" style={background: "#{colors[count]}"})
        - count++