<!DOCTYPE html>
html(lang="en")
  head
    link(rel='stylesheet', href='/styles/styles.css')
    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    meta(charset="UTF-8")
    block title

  body
    //- if isAuthenticated
    //-   div
    //-     form(method="GET" action="/logout")
    //-       input(type="submit" value="Logout")
    //- else
    //-   div
    //-     form(method="GET" action="/login")
    //-       input(type="submit" value="Login")
    block content
    script(src="/app.js")
