<!DOCTYPE html>
html(lang="en")
head
  link(rel='stylesheet', href='./styles/styles.css')
  meta(charset="UTF-8")
  title Login
body
  h1 Login, My Friend
  form(method="POST" action="/login")
    input(type="text" name="username" placeholder="username...")
    input(type="password" name="password" placeholder="password...")
    input(type="submit" value="Login")
  form(method="POST" action="/signup")
    input(type="text" name="username" placeholder="username...")
    input(type="password" name="password" placeholder="password...")
    input(type="submit" value="Sign Up")
  if message
    h2= message