/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #282828;
  color: #FFFF33;
  font-family: "Arial Black";
  width: 100%; }

h1 {
  font-size: 3rem;
  margin: 10px;
  box-shadow: inset 0 0 10px #E8E8E8; }

h3 {
  color: #E8E8E8;
  margin: 10px; }

.container {
  display: flex;
  flex-direction: row; }

.item.swatch {
  flex: 0 1 20%;
  margin: 10px; }

.item.canvas {
  flex: 0 1 50%; }

.item.archive {
  flex: 0 1 30%; }

.grid {
  display: inline-block; }

.swatchCell {
  display: inline-block;
  height: 25px;
  width: 25px; }
  .swatchCell:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 0 10px white; }

.canvasCell {
  border: 1px solid #E8E8E8;
  display: inline-block;
  height: 50px;
  width: 50px; }

.archiveHolder {
  display: flex;
  flex-direction: column; }

.archiveItem {
  margin: 20px; }
  .archiveItem:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 0 10px #E8E8E8; }

.archiveCell {
  display: inline-block;
  height: 15px;
  width: 15px; }

.middleContainer {
  display: flex;
  flex-direction: column; }

#selected,
input:hover {
  border: 1px solid #FFFF33; }

.row {
  font-size: 0; }
